<section id="clients" class="scrollto clearfix">
  <div class="row clearfix pull-right">
    @if (clients$ | async; as clients) {
      <div class="section-heading">
        <h3>{{ clients[0]?.tagline }}</h3>
        <h2 class="section-title">{{ clients[0]?.title }}</h2>
        <p class="section-subtitle">{{ clients[0]?.description }}</p>
      </div>
    }

    <div class="col-2-3">
      @for (company of companies$ | async; track company; let i = $index) {
        <div>
          <app-companies-block [company]="company"></app-companies-block>
        </div>
      }
    </div>
  </div>
</section>
